@import 'base/variables';
@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/advantages';
@import 'block/titles';
@import 'base/media';
@import 'block/consultation';
@import 'block/forms';
@import 'block/carousel';
@import 'block/catalog.scss';
@import 'block/testimonials.scss';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container{
    position: relative;
    max-width:950px;
    margin:0 auto;
}